body{
    color: #7889af;
    font-family: 'lato',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Barlow',sans-serif;
    font-style: normal;
    margin-bottom: 0;
    line-height: 1.2;
    font-weight: 700;
    transition: .5s;
    font-size: 25px;
    color: #002c8f;
    margin: 0 0 10px;
    transition: .5s;
}
.header-context-top {
    background: #002c8f none repeat scroll 0 0;
    padding-top: 5px;
    color:white;
}

.top-address> p {
    margin-bottom: 0;
}

.header-context-top a{
    color: white;
}
.top-right-menu ul.social-icons li{
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
.content-2{
    position: relative;
}


.nav-area{
    
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 65px 0 #00000008;
}


.logo-left{
    font-size: 38px;
    color: #21b6ff;
    padding-top: 30px;
    font-weight: bold;
}

.nav-menu{
    text-align: right;
}

.nav-menu>ul>li {
    text-align: right;
    display: inline-block;
    position: relative;
    font-style: normal;
    font-weight: 400;
}

.nav-menu>ul>li>a {
    display: block;
    margin: 38px 10px 38px;
    transition: .5s;
    position: relative;
    color: #002c8f;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
}

.btn-header{
    background-color: #21b6ff;
}
.btn-header>a{
    text-decoration: none;
    color: #fff;
}

.fixed-top#header-context-bottom {
    opacity: 70%;
    background-color: #002c8f;
}

.ds-content{
    background-image: url("https://ak.picdn.net/shutterstock/videos/33162541/thumb/1.jpg");
    height: 826px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: left;
}

.ds-content-text{
    width: 82%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
}

.ds-content-text>h1{
    font-family: 'Barlow',sans-serif;
    font-style: normal;
    margin-bottom: 0;
    line-height: 1.2;
    font-weight: 700;
    transition: .5s;
    font-size: 25px;
    margin: 0 0 10px;
    transition: .5s;
    color: #fff;
    width: 60%;
    margin: 14px auto 15px 0;
    font-size: 24px;
}

.ds-content-text>h1>span{
    color: #21b6ff;
}
.ds-content-text>h2{
    width: 60%;
    font-weight: 700;
    margin: 14px auto 15px 0;
    font-size: 83px; 
    color: #fff;
}

.btn-slide{
    margin-top: 45px;
}

.btn-service{
    background: #21b6ff;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    margin-right: 20px;
    font-weight: 400;
    transition: 1s;
    outline: none;
    border-style: default;
    padding: 20px 30px 20px 40px;
    border-radius: 5px;
    font-size: 17px;
}

.btn-play{
    font-size: 18px;
    font-weight: 500;
}

.btn-play > i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #21b6ff;
    position: relative;
    background: #21b6ff;
    text-align: center;
    color: #fff;
    transition: .5s;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.sec-about{
    background-color: #f1f6fb;
    position: relative;
    box-shadow: 0px 28px 15px 0px rgba(0,0,0,.01);
    padding: 80px 50px !important;
}

.title{
    padding: 40px 0 0;
    text-align: left;
}

.title > h3{
    font-size: 45px;
    color: #002c8f;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal; 
}

.sub-info{
    font-size: 25px;
    color: #002c8f;
}

.view-more {
    margin-top: 10px;
}

.view-more >.container {
    max-width: 1200px;
}

#d-none{
    display: none;
}

#btn-viewmore{
    position: relative;
    left:42%;
    background-color: #21b6ff;
    border: none;
}

.sec-achievements {
    padding: 0 0 80px;
    position: relative;
}

.sec-achievements> .row> .col-3{
    padding: 10px;
}

.sec-achievements> .row> .col-3> .go-down{
    margin: 70px 0 0 0;
}

.statistic {
    overflow: hidden;
}

.statistic>h3{
    margin:0;
}

.statistic>h3 , .statistic>span{
    font-size: 40px;
    color: #21b6ff;
    display: inline-block;
    font-weight: 700;
}

.achieve-info > .icon {
    float:left;
    font-style: normal;

}

.achieve-info > .icon > i{
    display: inline-block;
    color: #002c8f;
    font-size: 50px;
    border-style: default;
    margin: 8px 15px 0 0;

}

.statistic > h4 {
    font-size: 17px;
}

.sec-services {
    background-color: #f1f6fb;
    padding: 80px 0 120px;
    position: relative;
}

.sec-services> .container > .wrapper {
    padding: 10px;
}

.sec-services> .container > .wrapper > .header {
    --divider-border-style: solid;
    --divider-color: #21b6ff;
    --divider-border-width: 3px;
    margin-bottom: 20px;
    --divider-icon-size: 20px;

}

.devider {
    direction: ltr;
    align-items: center;
}

.divider > .divider-seperator{
    width: 17%;
    margin: 0 auto;
    -webkit-box-align: center;
    align-items: center; 
    display: flex;
    box-sizing: border-box;
    content: "";
    border-bottom: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
}

.divider > .divider-seperator > .divider-text{
    color: #21b6ff;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    flex-shrink: 0;
    line-height: 1;
    max-width: 95%;
    position: relative;
    z-index: 3;
    top:-10px;
    left: 40px;
    background-color: #f1f6fb;
    padding:0 5px;
}

.title-services-container {
    margin-bottom: 50px;
    position: relative;
}

.title-services-container> h3 {
    font-size: 40px;
margin: auto;
}

.slide-container {
    width: 100%;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.slide-container > .product-slide {
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}

.slide-container > .product-slide >.slide-case {
    opacity: 1;
    width: 4037px;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.item_pos{
    margin: 0;
    padding: 0;
    width: 367px;
    display: block;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    outline: none;
    float: left;
    height: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


.item_pos > .slide-card{
    margin-bottom: 90px;
    overflow: inherit;
    position: relative;
}

.slide-image {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-right: auto;
    margin-left: auto;
    transition: .5s;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-image > img{
    width:320px;
    height: 335px;
}

.content-slide-text {
    bottom: -60px;
    opacity: 1;
    box-shadow: 0px 0px 65px 0px #0000000a;
    background: #fff;
    text-align: center;
    padding: 20px 10px 45px;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    right: 50px;
    transition: .5s;
    z-index: 2;
    display: block;
}

.content-slide {
    
    text-align: center;
}

.content-slide > h3 > a {
    color: #000000;
    text-decoration: none;
}

.slide-custom {
    bottom: -17px;
    right: 42%;
    position: absolute;
    z-index: 9;
    transition: .5s;
}



.slide-custom > a >i {
   width: 45px;
   height: 45px;
   line-height: 45px;
   font-size: 18px;
   background: #fff;
   color: #21b6ff;
   box-shadow: 0px 0px 65px 0px #00000014;
   text-align: center;
   border-radius: 100%;
   transition: .5s;
}

.slick-slide{
    width: 376px;
}

.slick-dots{
    display: flex;
	justify-content: center;
    position: absolute;
    left: 14%;
    transform: translateX(-50%);
    z-index: 11;
    width: 100%;
    text-align: center;
    list-style-type: none;
     
}

.slick-dots > li {
    font-weight: 400;
    font-style: normal;
    margin: 0 10px;
}

.slick-dots > li > button{
    background-color: transparent;
    width: 30px;
    font-size: 0;
    text-indent: -9999px;
    border: 1px solid #21b6ff;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    border-radius: 30px;
    outline: none;
    transition: .5s;
    line-height: 1.15;
}

.slick-dots >li.slick-active>button{
    background: #21b6ff;
    width: 35px;
}

#ScrollUp{
    display: none;
    z-index: 2147483647;
    position: fixed;
    background: #21b6ff none repeat scroll 0 0;
    color: #fff;
    bottom: 300px;
    height: 40px;
    font-size: 30px;
    right: 100px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    width: 40px;
}

#ScrollUp >i {
    color: #fff;
}

.footer {
    background-color: #002c8f;
    color: #fff;
    height: 188px;
    padding: 27px 0;
}
.service-title > h3{
    color: #fff;
    font-size: 40px;
}

.button-area > .button-container{
    float: right;
    padding: 5px;
    margin-top: 25px;
}

.button-area > .button-container > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    background-color: #21b6ff;
    border-radius: 5px;
}